<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur3e_with_camera">

  <!-- Arguments passed through to the official UR xacro -->
  <xacro:arg name="name" default="ur"/>
  <xacro:arg name="ur_type" default="ur3e"/>
  <xacro:arg name="tf_prefix" default=""/>

  <!-- Load the normal UR robot model -->
  <!-- <xacro:include filename="$(find ur_description)/urdf/ur.urdf.xacro"/> -->
  <xacro:include filename="$(find ur_robot_driver)/urdf/ur.urdf.xacro"/>


  <!-- Simple collision/visual geometry for RGBD camera or mount -->
  <link name="camera_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.11 0.1 0.095"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.11 0.1 0.095"/>
      </geometry>
    </collision>
  </link>

  <joint name="camera_mount_joint" type="fixed">
    <parent link="tool0"/>
    <child link="camera_link"/>

    <!-- Placeholder: adjust this to match the actual mount -->
    <!-- <origin xyz="-0.015 0 0.0476" rpy="0 0 0"/> -->
    <origin xyz="-0.055 0 0.085" rpy="0 -1.5708 0"/>

  </joint>

</robot>